<div class="columns">
    <div class="column is-one-fifth" *ngFor="let student of studentList;let studentid =index ">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img [src]="student.profileImage" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <a [routerLink]="['/students',studentid+1]">{{student.firstName}}</a>
            </div>
        </div>
    </div>
</div>